<h1>users/index => Users#index</h1>
<p>ログインしている場合の自分の session[:user_id] → <%= session[:user_id] %></p>
<p><%= flash[:notice] %></p>


<p><%= link_to("ログアウト", "/logout", {method: "post"}) %></p>

<% @users.each do |user| %>
<p><img src="<%= "/user_images/#{user.image_name}" %>"></p>
<p><%= link_to(user.name, "/users/#{user.id}") %></p>
<% end %>