<h1>get "login" => "users#login_form"</h1>
<p><%= flash[:notice] %></p>
<p>session[:user_id] → <%= session[:user_id] %></p>





<p><%= link_to("/posts/index", "/posts/index") %></p>
<p><%= link_to("/posts/new", "/posts/new") %></p>
<p><%= link_to("/users/index", "/users/index") %></p>
<p><%= link_to("/users/new", "/users/new") %></p>
<p><%= link_to("/login", "/login") %></p>

<p>--------------------------------------------------------------------------</P>

<p><%= @error_message %></p>


<%= form_tag("/login") do %>
email<input name="email" value="<%= @email %>"></br>
password<input type="password" name="password" value="<%= @password %>">
<input type="submit" value="ログイン">
<% end %>