<h1>get "users/new" => "users#new"</h1>
<p><%= flash[:notice] %></p>
<p>session[:user_id] → <%= session[:user_id] %></p>
<p>@current_user.id → <%= @current_user.id %></p>
<p>@current_user.name → <%= @current_user.name %></p>
<p>@current_user.email → <%= @current_user.email %></p>
<p>@current_user.image_name → <%= @current_user.image_name %></p>
<p>@current_user.password → <%= @current_user.password %></p>
<p><%= link_to("/posts/index", "/posts/index") %></p>
<p><%= link_to("/posts/new", "/posts/new") %></p>
<p><%= link_to("/users/index", "/users/index") %></p>
<p><%= link_to("/users/new", "/users/new") %></p>
<p><%= link_to("/users/edit", "/users/#{@current_user.id}/edit") %></p>
<p><%= link_to("/users/show", "/users/#{@current_user.id}") %></p>
<p><%= link_to("/login", "/login") %></p>
<p>--------------------------------------------------------------------------</P>

        <%= form_tag("/users/create") do %>
          <p>ユーザー名</p>
          <input name="name" value="<%= @user.name %>">
          <p>メールアドレス</p>
          <input name="email" value="<%= @user.email %>">
          <p>パスワード</p>
          <input type="password" name="password" value="<%= @user.password %>">
          <input type="submit" value="新規登録">
        <% end %>